.nav {
    padding: 20px 40px;

    &__ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        gap: 30px;

        list-style: none;

        &__try-it {
            margin-left: auto;
        }

        &__logo-li {
            display: flex;
            align-items: center;
            margin-right: 15px;
        }

        &__logo {
            scale: 1.4;
        }
    }

    a {
        font-weight: 500;
    }

    .main-nav-ul a {
        font-size: 1.25rem;
    }
}

.separator {
    border-top: 2px solid #eee;
}