.section-container {
    max-width: 900px;
    width: 50%;
    margin: 0 auto;
}

@media (max-width: 1000px) {
    .section-container {
        max-width: 900px;
        width: 80%;
        margin: 0 auto;
    }
}


.p-section {
    padding: 114px 0px;

    h1 {
        line-height: 1.4;
    }

    p {
        margin-top: 20px;
        font-size: 1.25rem;
        line-height: 1.5;
    }
}

.collage-section {
    // display: none !important;
    position: relative;

    height: 53vw;
    max-height: 900px;

    width: 100%;


    &__imgs-container {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__colobg-div {
        position: absolute;
        background-color: rgb(251, 255, 167);
        height: 53vw;
        max-height: 900px;
        width: 60%;
        right: 0;
        z-index: 0;
    }

    &__img1 {
        background-image: url("https://ableton-production.imgix.net/about/photo-2.jpg?dpr=2.00&fit=crop&h=390&ixjsv=1.1.3&q=50&w=520");
        background-position: 50% 50%;
        background-size: cover;
        height: 24vw;
        width: 31vw;
        max-width: 570px;
        max-height: 433px;

        margin-left: 7vw;

        position: relative;
        z-index: 2;
    }

    &__img2 {
        background-image: url("https://ableton-production.imgix.net/about/photo-1.jpg?dpr=2.00&fit=crop&h=667&ixjsv=1.1.3&q=50&w=667");
        background-position: 50% 50%;
        background-size: cover;
        height: 40vw;
        width: 40vw;
        max-width: 710px;
        max-height: 710px;

        position: relative;
        z-index: 2;
    }
}

.video-section {
    position: relative;

    &__img {
        position: relative;
        background-image: url("https://ableton-production.imgix.net/about/poster-juanpe.jpg?auto=compress%2Cformat&w=1462%201462w");
        background-size: cover;
        padding-top: 56.25%;
        background-color: gray;
    }

    &__circle-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        &__circle {
            display: inline-block;
            width: 5rem;
            height: 5rem;
            border-radius: 100%;
            background-color: blue;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__polygon {
        width: 30%;
        position: relative;
        left: 2px;
    }

    p {
        padding: 10px;
    }
}

.collage-section-2 {

    position: relative;

    height: 76vw;
    max-height: 1100px;

    width: 100%;


    &__imgs-container {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__colobg-div {
        position: absolute;
        background-color: #B6FFC0;
        height: 76vw;
        max-height: 1100px;
        width: 60%;
        left: 0;
        z-index: 0;
    }

    &__left-container {
        display: flex;
        flex-direction: column;
        gap: 7vw;
    }

    &__img1 {
        background-image: url("https://ableton-production.imgix.net/about/photo-3.jpg?dpr=2.00&fit=crop&h=354&ixjsv=1.1.3&q=50&w=472");
        background-position: 50% 50%;
        background-size: cover;
        height: 25vw;
        width: 33vw;
        max-width: 518px;
        max-height: 393px;

        position: relative;
        z-index: 2;
    }

    &__img2 {
        background-image: url("https://ableton-production.imgix.net/about/photo-4.jpg?dpr=2.00&fit=crop&h=354&ixjsv=1.1.3&q=50&w=472");
        background-position: 50% 50%;
        background-size: cover;
        height: 25vw;
        width: 33vw;
        max-width: 518px;
        max-height: 393px;

        position: relative;
        z-index: 2;
    }


    &__img3 {
        background-image: url("https://ableton-production.imgix.net/about/photo-5.jpg?dpr=2.00&fit=crop&h=590&ixjsv=1.1.3&q=50&w=590");
        background-position: 50% 50%;
        background-size: cover;
        height: 40vw;
        width: 40vw;
        max-width: 635px;
        max-height: 635px;

        position: relative;
        z-index: 2;
    }

}

.collage-section-3 {
    position: relative;

    height: 53vw;
    max-height: 900px;

    width: 100%;


    &__imgs-container {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    &__colobg-container {
        position: absolute;
        height: 53vw;
        max-height: 900px;
        width: 100%;
        z-index: 0;

        &__colobg-div {
            width: 70%;
            height: 100%;
            margin: 0 auto;
            background-color: #D5B3FF;
        }
    }

    &__img1 {
        background-image: url("https://ableton-production.imgix.net/about/photo-6-a.jpg?dpr=2.00&fit=crop&h=400&ixjsv=1.1.3&q=50&w=533");
        background-position: 50% 50%;
        background-size: cover;
        height: 24vw;
        width: 31vw;
        max-width: 570px;
        max-height: 433px;

        margin-right: 7vw;

        position: relative;
        z-index: 2;
    }

    &__img2 {
        background-image: url("https://ableton-production.imgix.net/about/photo-7.jpg?dpr=2.00&fit=crop&h=667&ixjsv=1.1.3&q=50&w=667");
        background-position: 50% 50%;
        background-size: cover;
        height: 40vw;
        width: 40vw;
        max-width: 710px;
        max-height: 710px;

        position: relative;
        z-index: 2;
    }
}

.bigimg-section {
    max-width: 1400px;
    width: 80%;
    margin: 0 auto;

    &__img {
        width: 100%;
    }
}

.section-4 {
    max-width: unset;
    width: 80%;
    margin: 0 auto;

    display: flex;

    &__img {
        background-image: url("https://ableton-production.imgix.net/about/photo-8.jpg?crop=right&dpr=2.00&fit=crop&h=667&ixjsv=1.1.3&q=50&w=667");
        background-size: cover;
        background-position: 50% 50%;
        width: 100%;
        height: 34vw;
        max-height: 800px;
    }

    &__info-container {
        background-color: #B1C5FF;
        width: 100%;
        padding: 70px;

        display: flex;
        align-items: center;
        justify-content: center;

        &__inner {

            a {
                display: inline-block;
                margin-top: 10px;
                color: blue;
                display: flex;
                align-items: center;
            }
        }
    }

    &__svg {
        margin-left: 0.5rem;
        height: 0.9rem;
        fill: blue;
        position: relative;
        top: 2px
    }

    @media (max-width: 1000px) {
        &__img {
            min-height: 50vw;
        }

        flex-direction: column;
    }
}

@media (max-width: 800px) {
    .video-section__circle-container__circle {
        width: 3rem;
        height: 3rem;
    }
}